/* &display=swap */

/* ---------------------------Блок 1------------------------------------ */
@import "null.css";

@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");

body {
    font-family: "Lato", Arial, serif;
    font-size: 16px;
    color: rgba(66, 69, 81, 1);
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    max-width: 810px;
}

.back {
    padding: 20px 0px 0px 0px;
}
a {
    color: rgb(165, 165, 165, 0.5);
    font-size: 14px;
}
h1 {
    font-size: 46px;
    font-weight: 900;
    font-style: normal;
    line-height: 130%;
    color: rgba(30, 33, 44, 1);
    margin: 50px 0px 26px 0px;
}

.block-foto {
    margin: 0 0 60px 0;
}

.text-calender {
    display: inline-block;
    padding-left: 25px;
    margin: 0px 0px 40px 0px;
    background: url("../img/Calendar.png") no-repeat;
}

.text-clock {
    display: inline-block;
    padding-left: 25px;
    margin: 0px 0px 40px 24px;
    background: url("../img/Clock.png") no-repeat;
}

.block-text-bold {
    font-size: 20px;
    color: rgba(30, 33, 44, 1);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin: 0px 0px 24px 0px;
}

.block-text-normal {
    font-style: normal;
    line-height: 160%;
    color: #424551;
    font-style: normal;
    font-weight: 400;
    margin: 0px 0px 48px 0px;
}
.text {
    padding: 0px 0px 24px 0px;
}

.block-2-text-bold {
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 48px -15px;
}

.text-bold-1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(30, 33, 44, 1);
}

.text-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(30, 33, 44, 1);
    padding-left: 50px;

    background: url("../img/braces.png") no-repeat;
}

.text-list {
    margin: 0px 0px 24px 0px;
    line-height: 160%;
}

.list {
    margin: 0 0 24px 0px;
    /* из Figma  line-height 25.6/16px*/
    text-indent: 30px;
    line-height: 1.6;
}

.list-item {
    background: url("../img/check.svg") 0 5px / 16px no-repeat;
}

/* ---------------------------Блок 2------------------------------------ */

.block-about-us {
    margin: 0 auto;
    max-width: 390px;
}
.text-about-us {
    color: rgba(30, 33, 4, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0px 0px 8px 0px;
}
.title-text-about-us {
    color: rgba(30, 33, 44, 1);
    font-weight: 900;
    font-style: normal;
    font-size: 46px;
    line-height: 1.3;
    margin: 0px 0px 40px 0px;
}
.list-createx {
    color: rgba(66, 69, 81, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
    margin: 0px 0px 22px 0px;
}
.list-item-2 {
    padding: 0px 0px 12px 36px;
    background: url("../img/check.svg") 0 7px / 20px no-repeat;
}
.button a {
    align-items: center;
    text-align: center;
    max-width: 161px;
    min-height: 44px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 15px 32px;
    display: inline-block;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    margin-bottom: 30px;
}

.series-text {
    margin: 50px 0px 50px 0px;
    padding: 0px 0px 8px 0px;

    font-family: "Taviraj", Arial, serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 40px;
    background: url("../img/line.png") bottom left no-repeat;
}
